
@font-face {
    font-family: 'Arial MT';
    src: url('fonts/arialmt/ARIALMT.ttf');
}

*{
    box-sizing: border-box;
}

*::before, ::after {
    box-sizing: border-box;
}

body{
    font-family: "Arial MT";
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

/*Product name*/

.product-name{
    background-color: #445162;
    padding: 50px 0;
}

.product-name-wrapper{
	display: flex;
	justify-content: space-between;
}

.product-title {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 60px;
    font-weight: 400;
    
    margin-top: -10px;
    margin-bottom: 40px;
}

.product-list {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    
    list-style: none;
    margin: 0;
    padding: 0;
    
}

/*Добавление галки к списку*/
.product-list-item::before {
    content: "";
    background-image: url(../img/check_icon.png);
    display: inline-block; /*чтобы галка распологалась в одну линию с текстом*/
    
    width: 25px; /*ширина inline-блока галки по макету*/
    height: 19px; /*высота inline-блока галки по макету*/
    background-repeat: no-repeat; /*выключение повторения фона картинки-галки*/
    background-size: contain; /*чтобы картинка-галка поместилась в указанный размер*/
    background-position: center center; /*располагаем по центру inline-блока*/
    margin-right: 10px;
}

.title{
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

/*Product about*/

.product-about{
    padding: 50px 0;
}

.product-about-wrapper{
    display: flex;
}

.product-about-body{
    flex: 1 1 auto;
}

.product-about-body-title{
    margin: 0px 0px 33px 0px;
}

.product-about-body-text p{
    margin: 0px 0px 20px 0px;
    color: #333333;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.product-about-image{
    flex: 0 0 430px;
    padding: 0px 0px 0px 100px;
}

.productabout-image img{
    max-width: 100%;
}

/*Блок Dignity*/

.dignity{
    background-color: #f5f5f5;
    padding: 50px;
}

.dignity-wrapper {

}

.dignity-title {
	display: block;
	text-align: center;

	color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;   
}

.dignity-list {
	display: flex;
	flex-wrap: wrap;

	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.dignity-list-item {
  	width: 50%;
  	margin: 0 0 40px 0;
}

.dignity-list-item:nth-child(5), .dignity-list-item:nth-child(6){
  margin: 0;
}

.dignity-list-text {
	margin: 0;
	padding: 0 0 0 46px;
	position: relative;

	color: #333333;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.dignity-list-text::before {
	content: "+";
	  display: block;
	  width: 32px;
	  height: 32px;
	  background-color: #445161;
	  color: white;
	  font-size: 28px;
	  text-align: center;
	  line-height: 32px;
	  position: absolute;
	  top: 5px;
	  left: 5px;
}

/*Блок Screenshots*/

.screenshots{
    padding: 50px;
}

.screenshots-wrapper {
    
}

.screenshots-title{
    text-align: center;
    margin: 0px 0px 30px 0px; 
}

.screenshots-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	list-style: none;
}

.screenshots-list-item {
	width: 50%;
	display: flex;
	justify-content: space-between;
	margin: 0 0 40px 0;
}

.screenshots-list-item:nth-child(3), .screenshots-list-item:nth-child(4) {
	margin: 0;
}

.screenshots-list-item-div {
	padding: 0 20px 0 20px;
}

.screenshots-item-title {
	color: #445161;
    font-family: "Arial MT";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;

    margin: 0;
}

.screenshots-item-text {
	color: #333333;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/*Reviews*/

.reviews{
    background-color: #f5f5f5;
    padding: 50px;
}

.reviews-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.reviews-title{
    flex-basis: 100%;
    text-align: center;

    margin: 0;
    padding-bottom: 25px;
}

.reviews-column{
    flex-basis: 49%;
    display: flex;
    align-items: flex-start;
    
}

.circlepicture {
    margin-right: 30px;
}

.reviews-column-item{
    margin-bottom: 25px;
    background-color: #ebebeb;
    padding: 0px 10px 0px 20px;
    border-radius: 5px;
    
    position: relative;
}

.reviews-column-item::before{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border: 20px solid transparent;
    border-right: 20px solid #ebebeb;
    
    position: absolute;
    top: 20px;
    left: -40px;
}

.reviews-column-item1{
    color: #333333;
    font-family: "Arial - Italic MT";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.reviews-column-item2{
    color: #989898;
    font-family: "Arial MT";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

/*Buy it now*/

.prices {
    width: 100%;
    padding: 50px;
}

.prices-title {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0;
    margin: 0 0 20px 0;
}

.prices-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.prices-item {
    /*width: 30%;*/
    flex-basis: 25%;
    margin: 0 40px 0 0;
    padding: 0 0 10px 0;
    background-color: #445162;
    color: white;
    border-radius: 5px;
    border: 2px solid #445162;
}

.prices-item:nth-child(4) {
  margin: 0;
}

.prices-item-title {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0;
    padding: 10px;
    
    font-family: "Arial MT";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.prices-item-price {
    text-align: center;
    background-color: #fff;
    color: #445162;
    padding: 18px 0;
    margin: 0;
    
    font-family: "Arial MT";
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
}

.prices-item-list {
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.price-button {
    display: block;
    width: 90%;
    padding: 5px 10px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;

    color: #445161;
    font-family: "Arial - Bold MT";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.price-button:hover, .price-button:focus, .price-button:active {
    background-color: #445162;
    color: #ffffff;
    border: 1px solid white;
}

/* Contacts form */

.contacts-form {
    background-color: #445162;
    padding: 50px 0;
}

.contacts-form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contacts_title {
    flex-basis: 100%;
    text-align: center;
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;

    margin: 0;
    padding: 0 0 30px 0;
}

.contacts_form {
    /*flex-basis: 70%;*/

}

.callback {
    width: 500px;
}

.contacts_form_pole {
    width: 100%;
    /*height: 40px;*/
    background-color: #ffffff;    
    
    padding-left: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 21px;
}

.contacts_form_pole_textarea {
    max-width: 100%;
    min-width: 500px; /*ограничение ширины*/
    height: 170px;
    background-color: #ffffff; 
    
    padding-left: 10px;
    padding-top: 14px;
    
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 21px;
}

.button {
    color: #445162;
    font-family: "Arial - Bold MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    
    width: 140px;
    height: 40px;
    background-color: #ffffff;
    
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
    
    margin-left: 180px;
}

.contacts_form_pole:focus {
    background-color: grey;
}

.contacts_form_pole_textarea:focus {
    background-color: grey;
}

.button:hover, 
.button:focus, 
.button:active {
    background-color: #445162;
    color: white;
    border: 1px solid white;
}

input::placeholder,
textarea::placeholder {
   
    color: #445162;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.contacts_phone {
    /*flex-basis: 30%;*/
    margin: 0 0 0 -250px;
}

.contacts-list {
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    
    list-style: none;
    margin: 0;
    padding: 0;
}

.contacts-list-item {
    margin-bottom: 15px;
}

.contacts-list-item::before {
    content: "";
    background-image: url(../img/skype_icon.png);
    display: inline-block; /*чтобы галка распологалась в одну линию с текстом*/
    vertical-align: middle; /*расположение по центру блока*/
    width: 24px; /*ширина inline-блока галки по макету*/
    height: 26px; /*высота inline-блока галки по макету*/
    background-repeat: no-repeat; /*выключение повторения фона картинки-галки*/
    background-size: contain; /*чтобы картинка-галка поместилась в указанный размер*/
    background-position: center center; /*располагаем по центру inline-блока*/
    margin-right: 5px;
}

.contacts-list-item-link {
    text-decoration: none;
    color: #ffffff;
}

.contacts-list-item-link:hover,
.contacts-list-item-link:focus,
.contacts-list-item-link:active {
    color: red;
    outline: none;
}

.icq::before {
    background-image: url(../img/icq_icon.png);
    width: 26px;
    height: 26px;
}

.post::before {
    background-image: url(../img/email_icon.png);
    width: 22px;
    height: 22px;
}

.phone::before {
    background-image: url(../img/phone_icon.png);
    width: 24px;
    height: 23px;
}

.socialicons {
    margin-top: 30px;
}

.socialicons .fab {
    color: #445162;
    background-color: #ffffff;
}

.socialicons .fa-twitter, .fa-linkedin-in, .fa-google, .fa-youtube {
    padding: 10px;
    border-radius: 50%;
}

.socialicons .fa-facebook-f {
    padding: 10px 13px 10px 13px;
    border-radius: 50%;
}

.socialicons .fab:hover {
    background-color: #445162;
    color: #ffffff;
}

.socialicons .fab:focus {
    background-color: #445162;
    color: #ffffff;
    outline: none;
}

.socialicons .fab:active {
    background-color: #445162;
    color: #ffffff;
}

.copyright {
    background-color: #f5f5f5;
}

.copyright-text {
    text-align: center;
    margin: 0;
    padding: 10px 0;
}
